@font-face {
  font-family: mycursivefont;
  src: url(Allura-Regular.ttf);
}
#para1{
    color: darkorange;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    box-shadow: 1px 1px 2px 1px rgb(78, 78, 255);
    text-shadow: -1px 1px 2px rgb(0, 0, 0);
}
#intro1 {
    border: 1px solid orange;
    border-radius: 4px;
    padding: 10px;
    background: linear-gradient(to bottom, rgb(211, 211, 211) 0%, rgb(211, 211, 211) 100%);
    box-shadow: 1px 1px 2px 1px rgb(78, 78, 255);
}
.App {
    width: 50%;
    position: relative;
    left: 20%;
    right: auto;
    background-color: rgba(61, 61, 61, 0.952);
    bottom: -25px;
    border-radius: 4px;
    padding: 20px;
    z-index: 2;
    min-height: 2000px;
    border-color: darkorange;
    border-width: 2px;
    box-shadow:  1px 1px 2px 1px rgb(78, 78, 255);
}
#fullbox {
    
    background-color: rgb(65, 65, 65);
    padding: 10px;
    border-radius: 4px;
    box-shadow: 1px 1px 2px 1px rgb(78, 78, 255);
}
#maincontentpane {
    background-color: darkorange;
    padding:2px;
    border-radius: 4px;
    margin-top: 10px;
    box-shadow: 1px 1px 2px 1px rgb(78, 78, 255);
}
.indmsg {
    padding: 10px;
    margin-bottom: 15px;
    background-color: #d3d3d3
}
html,
body {
  margin: 0;
  background-color: black;
  
}

canvas {
  position: fixed;
  top: 40;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(65, 65, 65);
  /*overflow: hidden;*/
  
}
.makeacomment {
  background-color: rgb(65, 65, 65);
  color: #d3d3d3;
  text-shadow: 1px 1px 2px rgb(78, 78, 255);
  border-color: transparent;
  box-shadow: 0px 1px 2px 1px rgb(78, 78, 255);
  margin-left: 46%;
  border-radius: 1px;
}
#posttitle {
    text-align: center;
    color:rgb(211, 211, 211);
    text-decoration: underline;
    text-decoration-color: darkorange;
    box-shadow: 1px 1px 2px 1px rgb(78, 78, 255);
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0px;
    
  
}

/* The switch - the box around the slider */
.switch {
    position: fixed;
    display: inline-block;
    width: 36px;
    height: 17px;
    z-index: 2;
    top:11px;
    left: 20px;
   
  }

  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
    z-index: 2;
  }
    
  #hamburgermenu {
    width: 40px;
  
    position: relative;
    top: 59px;
    padding-left: 15px;
    border-left: darkorange;
    border-left-width: 1px;
    
  }
  #homemenu {
    
    width: 40px;
   
    position: relative;
    top: 59px;
    padding-left: 10px;
    padding-bottom: 2px;
    
  } 
  #btncont {
    position: fixed;
    left: 6%;
    top: -57px;
    height: 100px;
    
    border-color: darkorange;
    z-index: 10;
    border-width: 2px;
    box-shadow: 1px 1px 3px 2px rgb(78, 78, 255);
    background-color: rgba(61, 61, 61, 0.952);
    width: 120px;
    border-radius: 2px;
  }


  .slider {
    position: absolute;
    cursor: pointer;
    top: -1px;
    left: 0px;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 204, 0);
    box-shadow: 1px 1px 2px 1px rgb(0, 255, 0);
    -webkit-transition: .4s;
    transition: .4s;
    z-index: 2;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 4px;
    bottom: 3px;
    background-color: whitesmoke;
    -webkit-transition: .4s;
    transition: .4s;
    z-index: 2;
  }
  
  input:checked + .slider {
    background-color: rgb(255, 0, 0);
    box-shadow: 1px 1px 2px 1px rgba(255, 67, 67, 0.719);
  }
  
  
  
  input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
    z-index: 2;
  }
  
  .slider.round:before {
    border-radius: 50%;
    z-index: 2;
  }
  #wndesc {
      position: fixed;
      top:33px;
      left: 20px;
      z-index: 7;
      font-size: 5px;
      color: white;
  }
  #usrpost1 {
    margin-left: 6.5%;
    padding: 10px;
    background-color: #d3d3d3;
   
  border: none;
  
  }
 #fullbox :first-child {
   margin-top: 10px;
   
 }
 
  #formcontainer {
    background-color: rgb(65, 65, 65);
    border-radius: 4px;
    height: 575px;
  }
  #usrsubmit1 {
    position: relative;
    top: 80px;
    left: 78px;
    height: 18px;
    width: 770px;
    box-shadow: 1px 1px 2px 1px rgb(78, 78, 255);
    border-width: 1px;
    border-color: darkorange;
    background-color: rgb(65, 65, 65);
    text-decoration: underline;
    text-decoration-color: darkorange;
    color: #d3d3d3;
    padding-bottom: 5px;
    margin: 5px;
  }
  #usrpost1 {
    position: relative;
    top: 70px;
    width: 80%;
    margin-right: auto;
    margin-left: 9%;
    box-shadow: 0px 0px 1px 1px darkorange;
  }
  #usrposttitle {
    position: relative;
    left: 84px;
    top: 20px;
    width: 300px;
    background-color: #d3d3d3;
    border-bottom-width: 1px;
    border-bottom-color: rgb(78, 78, 255);
    box-shadow: 0px 0px 1px 1px darkorange;
  }
  #usrname{
    position: relative;
    left: -226px;
    background-color: #d3d3d3;
    top: 55px;
    border-bottom-width: 1px;
    border-bottom-color: rgb(78, 78, 255);
    box-shadow: 0px 0px 1px 1px darkorange;
  }
  #textboxtitle {
    color: #d3d3d3;
    text-shadow: 1px 1px 2px rgb(78, 78, 255);
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  #newpostlabel {
    position: relative;
    bottom: 440px;
    left: 650px;
    font-family: 'Courier New', Courier, monospace;
    color: #d3d3d3;
    font-size: 24px;
    text-shadow: 0px 0px 4px whitesmoke;
    box-shadow: 1px -1px 0px 1px darkorange;
    width: 120px;
    text-align: center;
    
  }
  #hammenu {
    position: fixed;
    top: 45px;
    left: 6%;
    height: 300px;
    width: 200px;
    background-color:rgb(61, 61, 61) ;
    box-shadow: 0px 0px 2px 1px darkorange;
   
  }
  .hmbtn {
    padding: 6px;
    margin: 5px;
    width: 166.5px;
   margin-left: 7.5%;
  
  }
  #epbtn {
    margin-right: 30px;
  }
  #cibtn {
    margin-top: 20px;
    color: #d3d3d3;
    text-shadow: 0px 0px 4px whitesmoke;
    background-color: rgb(78, 78, 255);
    border-radius: 2px;
    border-radius: 4px;
border-color: transparent;
box-shadow: 0px 0px 2px 1px rgb(78, 78, 255) ;
  }
  #signature1 {
    font-family: mycursivefont;
    color: rgb(78, 78, 255);
    text-shadow: 2px 2px 4px rgb(78, 78, 255);
    position: relative;
    top: 10px;
    margin-left: 26%;
    margin-right: auto;
  }
   #gwbtn {
color: #d3d3d3;
text-shadow: 0px 0px 4px whitesmoke;
background-color: rgb(78, 78, 255);
border-radius: 4px;
border-color: transparent;
box-shadow: 0px 0px 2px 1px rgb(78, 78, 255) ;
  }
  #ccbtn, #udebtn{
    color: #d3d3d3;
text-shadow: 0px 0px 4px whitesmoke;
background-color: darkorange;
border-radius: 4px;
border-color: transparent;
box-shadow: 0px 0px 2px 1px darkorange ;
  }
  #epbtn{
    color: #d3d3d3;
    
text-shadow: 0px 0px 4px whitesmoke;
background-color: rgb(0, 204, 0);
border-radius: 4px;
border-color: transparent;
box-shadow: 0px 0px 2px 1px rgb(0, 204, 0) ;
  }
  #csbtn{
    color: #d3d3d3;
    
text-shadow: 0px 0px 4px whitesmoke;
background-color: grey;
border-radius: 4px;
border-color: transparent;
box-shadow: 0px 0px 2px 1px grey ;
  }
  #hammenu {
    animation-duration: 0.3s;
    animation-name: slidein2;
    
  animation-direction: alternate;
  }

  #hammenu2 {
    position: fixed;
    top: -345px;
    left: 6%;
    height: 300px;
    width: 200px;
    background-color:rgb(61, 61, 61) ;
    box-shadow: 0px 0px 2px 1px darkorange;
   
  
animation-duration: 0.3s;
animation-name: slideout1;

  }
  @keyframes commentslidein {
    from {
      margin-top: -20%
    }
    to {
      margin-top: 0px;
    }
  }
  @keyframes slidein2 {
    from {
      margin-top: -10%;
      
    }
  
    to {
      margin-top: 0px;
     
    }
  }

  @keyframes slideout1 {
    from {
      margin-top: 20%;
    }
    to {
      margin-top: -10%;
    }
  }
  .formcontainer {
    background-color: rgb(65, 65, 65);
    border-radius: 4px;
    height: 275px;
  }
  .userpost {
    animation-duration: 0.3s;
    animation-name: commentslidein
  }
  .usrsubmit1 {
    position: relative;
    
   
    height: 18px;
    width: 80%;
    box-shadow: 1px 1px 2px 1px rgb(78, 78, 255);
    border-width: 1px;
    border-color: darkorange;
    background-color: rgb(65, 65, 65);
    text-decoration: underline;
    text-decoration-color: darkorange;
    color: #d3d3d3;
    padding-bottom: 5px;
    margin-left: 9%;
    margin-top: 2%;
  }
  .usrpost1 {
    position: relative;
   margin-top: 2%;
    width: 80%;
    margin-right: auto;
    margin-left: 9%;
    box-shadow: 0px 0px 1px 1px darkorange;
    height: 80px;
    background-color: #d3d3d3;
  }
  .usrposttitle {
    position: relative;
    margin-left: 9%;
    top: 20px;
    width: 60%;
    background-color: #d3d3d3;
    border-bottom-width: 1px;
    border-bottom-color: rgb(78, 78, 255);
    box-shadow: 0px 0px 1px 1px darkorange;
  }
  .usrname{
    position: relative;
    margin-top: 0%;
    margin-left: 9%;
    background-color: #d3d3d3;
    width: 60%;
    border-bottom-width: 1px;
    border-bottom-color: rgb(78, 78, 255);
    box-shadow: 0px 0px 1px 1px darkorange;
  }
  .textboxtitle {
    width: 80%;
    display: block;
    box-shadow:  1px 1px 2px 1px rgb(78, 78, 255);
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    padding-bottom: 0.25%;
    color: #d3d3d3;
  }
  .newpostlabel {
    position: relative;
    
    margin-left: 80%;
    font-family: 'Courier New', Courier, monospace;
    color: #d3d3d3;
    font-size: 24px;
    text-shadow: 0px 0px 4px whitesmoke;
    box-shadow: 1px -1px 0px 1px darkorange;
    width: 120px;
    text-align: center;
    
  }

  .commspot {
background-color: darkorange;
border-radius: 4px;
box-shadow: 0px 0px 2px 1px darkorange;
  }

  .commuser {
background-color: rgb(65, 65, 65); 
font-weight: bolder;
padding-left: 1%;
  }

  .commbody {
   background-color:  rgb(65, 65, 65);
   border-bottom-left-radius: 4px;
   border-bottom-right-radius: 4px;
   text-shadow: 0px 0px 1px  #d3d3d3;
   color: #d3d3d3;
   padding-left: 1%;
  }

  .commtitle {
background-color: rgb(65, 65, 65);
border-top-left-radius: 4px;
border-top-right-radius: 4px;
color: #d3d3d3;
text-decoration: underline;
text-decoration-color: darkorange;
text-shadow: 0px 0px 4px whitesmoke;
text-align: center;
  }